body .content {
  padding-left: 160px;
  display: flex;
  background-color: #feecd6;
  min-height: 100vh;
}

body .content .bg2-container {
  background-color: rgba(51, 143, 142, 0.15);
  width: 80%;
  /* height: 100%;  tirar na proxima aula */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
}

body .content .bg2-container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; tirar na proxima aula */
}

body .content .bg2-container .header .title {
  font-family: "Cookie";
  font-size: 150px;
  font-family: Cookie;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 166px;
  text-align: center;
  /* text-transform: capitalize; */
  /* font-feature-settings: "fina" on, "liga" off; */
  margin-bottom: -30px;
  color: #d02746;
  text-shadow: -5px 3px 0px #fbad86;
}

body .content .bg2-container .header .sub-title {
  font-family: "Cookie";
  font-size: 50px;
  font-family: Cookie;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  /* text-transform: capitalize; */
  /* font-feature-settings: "fina" on, "liga" off; */
  color: #996f6f;
  text-shadow: -3px 2px 0px #fbad86;
}

body .content .bg2-container .card {
  background: rgba(51, 143, 142, 0.8);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  border-radius: 37px;
  font-family: Lobster Two;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #feecd6;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 25px 46px 25px 46px;
  width: 80%;
  margin-top: 20px;
}

.bg2-container .carousel-wrapper {
  margin: 20px auto;
  width: 100%;
  /* border: 3px dotted royalblue; */
}
.bg2-container .carousel-wrapper .carousel-items-posts {
  position: relative;
  margin: auto;
  width: 780px;
  height: 370px;
  /* border: 3px dotted blueviolet; */
}

.bg2-container .carousel-wrapper .carousel-items-posts .carousel-item {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: #4b0a34;
  border-radius: 15px;
  display: inline-flex;
  box-shadow: 5px 8px #fbad86;
  max-width: 750px;
  padding: 20px 50px;
  margin: 8px 120px;
}

.bg2-container
  .carousel-wrapper
  .carousel-items-posts
  .carousel-item
  .cake-img {
  border-radius: 4px;
  width: 230px;
  height: 310px;
}

.bg2-container .carousel-wrapper .carousel-items-posts .carousel-item .text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.bg2-container
  .carousel-wrapper
  .carousel-items-posts
  .carousel-item
  .cake-title {
  color: #feecd6;
  font-family: Lobster Two;
  font-size: 50px;
}

.bg2-container
  .carousel-wrapper
  .carousel-items-posts
  .carousel-item
  .cake-description {
  color: #fbad86;
  font-family: Lobster Two;
  font-size: 24px;
  text-align: justify;
}

.bg2-container .carousel-wrapper .arrow-prev {
  transform: translateY(-50%) rotate(135deg);
  position: absolute;
  top: 50%;
  left: -3%;
  border: solid #834343;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  z-index: 2;
}

.bg2-container .carousel-wrapper .arrow-next {
  transform: translateY(-50%) rotate(-45deg);
  position: absolute;
  top: 50%;
  right: -3%;
  border: solid #834343;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

@media (max-width: 1230px) {
  .bg2-container .carousel-wrapper .carousel-items-posts {
    width: 608px;
  }

  .bg2-container .carousel-wrapper .carousel-items-posts .carousel-item {
    width: 600px;
  }
}
