body .menu {
  background-color: #d02746;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Cookie";
  width: 160px;
  height: 100%;
  justify-content: center;
  position: fixed;
}

body .menu .menu-text {
  font-family: Cookie;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  padding: 38px 0 38px 0;
}

body .menu .menu-text:hover {
  color: #feecd6;
}